## AirBnb Boston Data

#### Data Analysis

# Section: Data Cleaning/ Wrangling

In [2]:
## import the libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

## read the data
listing = pd.read_csv("C:\\Users\\kritigarg3\\Desktop\\Udacity\\listings.csv")

In [3]:
## df with all numerical columns
numerical_vars_lst = ['accommodates','bathrooms', 'bedrooms', 'beds','price','security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people','minimum_nights',
       'maximum_nights','availability_30', 'availability_60', 'availability_90',
       'availability_365','number_of_reviews','review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value','reviews_per_month']

In [4]:
listing_vars = listing[numerical_vars_lst]
listing_vars.shape
listing_vars.head()

,accommodates,bathrooms,bedrooms,beds,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,4,1.5,2.0,3.0,$250.00,NaN,$35.00,1,$0.00,2,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1.0,1.0,1.0,$65.00,$95.00,$10.00,0,$0.00,2,...,359,36,94.0,10.0,9.0,10.0,10.0,9.0,9.0,1.30
2,2,1.0,1.0,1.0,$65.00,NaN,NaN,1,$20.00,3,...,319,41,98.0,10.0,9.0,10.0,10.0,9.0,10.0,0.47
3,4,1.0,1.0,2.0,$75.00,$100.00,$50.00,2,$25.00,1,...,98,1,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1.00
4,2,1.5,1.0,2.0,$79.00,NaN,$15.00,1,$0.00,2,...,334,29,99.0,10.0,10.0,10.0,10.0,9.0,10.0,2.25

In [5]:
## Replace NaN values with 0 because in case of prices, if there would have been any price associated with these factors,
##it would have been explicitly mentioned. Else, it's better to not drop these records, because other columns contains important
##and useful information
fill_0 = lambda col: col.fillna(0)
listing_vars = listing_vars.apply(fill_0, axis=0)
listing_vars.head()

,accommodates,bathrooms,bedrooms,beds,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,4,1.5,2.0,3.0,$250.00,0,$35.00,1,$0.00,2,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
1,2,1.0,1.0,1.0,$65.00,$95.00,$10.00,0,$0.00,2,...,359,36,94.0,10.0,9.0,10.0,10.0,9.0,9.0,1.30
2,2,1.0,1.0,1.0,$65.00,0,0,1,$20.00,3,...,319,41,98.0,10.0,9.0,10.0,10.0,9.0,10.0,0.47
3,4,1.0,1.0,2.0,$75.00,$100.00,$50.00,2,$25.00,1,...,98,1,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1.00
4,2,1.5,1.0,2.0,$79.00,0,$15.00,1,$0.00,2,...,334,29,99.0,10.0,10.0,10.0,10.0,9.0,10.0,2.25

In [6]:
listing_vars.dtypes

accommodates                     int64
bathrooms                      float64
bedrooms                       float64
beds                           float64
price                           object
security_deposit                object
cleaning_fee                    object
guests_included                  int64
extra_people                    object
minimum_nights                   int64
maximum_nights                   int64
availability_30                  int64
availability_60                  int64
availability_90                  int64
availability_365                 int64
number_of_reviews                int64
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
reviews_per_month              float64
dtype: object

In [7]:
## Find monetary columns with data type as object
money_col_lst = listing_vars.select_dtypes(include=['object']).columns.tolist()

## Remove special characters like '$' and comma from monetary columns
for col in money_col_lst:
    listing_vars[col] = listing_vars[col].str.replace('$','').str.replace(',','').astype(float)

In [8]:
fill_0 = lambda col: col.fillna(0)
listing_vars = listing_vars.apply(fill_0, axis=0)
listing_vars.head()
listing_vars.head()

,accommodates,bathrooms,bedrooms,beds,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,4,1.5,2.0,3.0,250.0,0.0,35.0,1,0.0,2,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
1,2,1.0,1.0,1.0,65.0,95.0,10.0,0,0.0,2,...,359,36,94.0,10.0,9.0,10.0,10.0,9.0,9.0,1.30
2,2,1.0,1.0,1.0,65.0,0.0,0.0,1,20.0,3,...,319,41,98.0,10.0,9.0,10.0,10.0,9.0,10.0,0.47
3,4,1.0,1.0,2.0,75.0,100.0,50.0,2,25.0,1,...,98,1,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1.00
4,2,1.5,1.0,2.0,79.0,0.0,15.0,1,0.0,2,...,334,29,99.0,10.0,10.0,10.0,10.0,9.0,10.0,2.25

# Section: Data Modeling

In [9]:
## Split into dependent and explanatory variables
X = listing_vars.drop('price', axis=1)
y = listing_vars['price']

## Split into test and train datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state=42) 


lm_model = LinearRegression(normalize=True) # Instantiate
lm_model.fit(X_train, y_train) #Fit
        
#Predict and score the model
y_test_preds = lm_model.predict(X_test)
"The r-squared score for the model using only quantitative variables was {} on {} values.".format(r2_score(y_test, y_test_preds), len(y_test))

'The r-squared score for the model using only quantitative variables was 0.0210654630403615 on 1076 values.'

The numerical variables explain very little about the price of the listing. This means there are other factors which influence the pricing decision

In [10]:
## Take the relevant categorical variables
relevant_cat_list = ['host_is_superhost','neighbourhood_cleansed','property_type','room_type','bed_type']
cat_list = listing[relevant_cat_list]
cat_list.head()

,host_is_superhost,neighbourhood_cleansed,property_type,room_type,bed_type
0,f,Roslindale,House,Entire home/apt,Real Bed
1,f,Roslindale,Apartment,Private room,Real Bed
2,t,Roslindale,Apartment,Private room,Real Bed
3,f,Roslindale,House,Private room,Real Bed
4,t,Roslindale,House,Private room,Real Bed

In [11]:
## combine the numerical and categorical variables and create a dataframe
total_vars_lst = numerical_vars_lst + relevant_cat_list
total_vars = listing[total_vars_lst]
total_vars.head()

,accommodates,bathrooms,bedrooms,beds,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month,host_is_superhost,neighbourhood_cleansed,property_type,room_type,bed_type
0,4,1.5,2.0,3.0,$250.00,NaN,$35.00,1,$0.00,2,...,NaN,NaN,NaN,NaN,NaN,f,Roslindale,House,Entire home/apt,Real Bed
1,2,1.0,1.0,1.0,$65.00,$95.00,$10.00,0,$0.00,2,...,10.0,10.0,9.0,9.0,1.30,f,Roslindale,Apartment,Private room,Real Bed
2,2,1.0,1.0,1.0,$65.00,NaN,NaN,1,$20.00,3,...,10.0,10.0,9.0,10.0,0.47,t,Roslindale,Apartment,Private room,Real Bed
3,4,1.0,1.0,2.0,$75.00,$100.00,$50.00,2,$25.00,1,...,10.0,10.0,10.0,10.0,1.00,f,Roslindale,House,Private room,Real Bed
4,2,1.5,1.0,2.0,$79.00,NaN,$15.00,1,$0.00,2,...,10.0,10.0,9.0,10.0,2.25,t,Roslindale,House,Private room,Real Bed

In [12]:
## convert numerical columns to float variables
for col in money_col_lst:
    total_vars[col] = total_vars[col].str.replace('$','').str.replace(',','').astype(float)

C:\Users\kritigarg3\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
total_vars.shape

(3585, 29)

In [14]:
## replacing Nan with 0
fill_0 = lambda col: col.fillna(0)
total_vars = total_vars.apply(fill_0, axis=0)
total_vars.head()
total_vars.head()
total_vars.head()

,accommodates,bathrooms,bedrooms,beds,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month,host_is_superhost,neighbourhood_cleansed,property_type,room_type,bed_type
0,4,1.5,2.0,3.0,250.0,0.0,35.0,1,0.0,2,...,0.0,0.0,0.0,0.0,0.00,f,Roslindale,House,Entire home/apt,Real Bed
1,2,1.0,1.0,1.0,65.0,95.0,10.0,0,0.0,2,...,10.0,10.0,9.0,9.0,1.30,f,Roslindale,Apartment,Private room,Real Bed
2,2,1.0,1.0,1.0,65.0,0.0,0.0,1,20.0,3,...,10.0,10.0,9.0,10.0,0.47,t,Roslindale,Apartment,Private room,Real Bed
3,4,1.0,1.0,2.0,75.0,100.0,50.0,2,25.0,1,...,10.0,10.0,10.0,10.0,1.00,f,Roslindale,House,Private room,Real Bed
4,2,1.5,1.0,2.0,79.0,0.0,15.0,1,0.0,2,...,10.0,10.0,9.0,10.0,2.25,t,Roslindale,House,Private room,Real Bed

In [15]:
total_vars.head()

,accommodates,bathrooms,bedrooms,beds,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month,host_is_superhost,neighbourhood_cleansed,property_type,room_type,bed_type
0,4,1.5,2.0,3.0,250.0,0.0,35.0,1,0.0,2,...,0.0,0.0,0.0,0.0,0.00,f,Roslindale,House,Entire home/apt,Real Bed
1,2,1.0,1.0,1.0,65.0,95.0,10.0,0,0.0,2,...,10.0,10.0,9.0,9.0,1.30,f,Roslindale,Apartment,Private room,Real Bed
2,2,1.0,1.0,1.0,65.0,0.0,0.0,1,20.0,3,...,10.0,10.0,9.0,10.0,0.47,t,Roslindale,Apartment,Private room,Real Bed
3,4,1.0,1.0,2.0,75.0,100.0,50.0,2,25.0,1,...,10.0,10.0,10.0,10.0,1.00,f,Roslindale,House,Private room,Real Bed
4,2,1.5,1.0,2.0,79.0,0.0,15.0,1,0.0,2,...,10.0,10.0,9.0,10.0,2.25,t,Roslindale,House,Private room,Real Bed

In [16]:
def create_dummy_df(df, cat_cols, dummy_na):
    '''
    Create dummy variables for the categorical columns.
    Input:
    df - DataFrame containing the categorical columns
    cat_cols - List of categorical column names
    dummy_na - Boolean. Treatment of NA values.
    '''
    for col in  cat_cols:
        try:
            # for each cat add dummy var, drop original column
            df = pd.concat([df.drop(col, axis=1), pd.get_dummies(df[col], prefix=col, prefix_sep='_', drop_first=True, dummy_na=dummy_na)], axis=1)
        except:
            continue
    return df

In [17]:
cat_df_new = create_dummy_df(total_vars, relevant_cat_list, dummy_na=True) #Use your newly created function

# Show a header of df_new to check
print(cat_df_new.shape)

(3585, 73)

In [18]:
X = cat_df_new.drop('price', axis=1)
y = cat_df_new['price']

    #Split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=30)

lm_model = LinearRegression(normalize=True) # Instantiate
lm_model.fit(X_train, y_train) #Fit

    #Predict using your model
y_test_preds = lm_model.predict(X_test)
y_train_preds = lm_model.predict(X_train)

    #Score using your model
test_score = r2_score(y_test, y_test_preds)
train_score = r2_score(y_train, y_train_preds)



print("The rsquared on the training data was {}.  The rsquared on the test data was {}.".format(train_score, test_score))

The rsquared on the training data was 0.48395278086948745.  The rsquared on the test data was 0.2605365432698026.

Thr r-squared is still small and doesn't explain the complete variation in prices. This means that a lot of factors mentioned in columns like 'summary', 'space' and 'description' also have impact on the prices, which seems intuitive.